<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcrCloudHost</key>
	<string>identify-eu-west-1.acrcloud.com</string>
	<key>AcrCloudAccessKey</key>
	<string>YOUR_ACR_ACCESS_KEY_HERE</string>
	<key>AcrCloudAccessSecret</key>
	<string>YOUR_ACR_ACCESS_SECRET_HERE</string>
	<key>SpotifyClientId</key>
	<string>YOUR_SPOTIFY_CLIENT_ID_HERE</string>
	<key>SpotifyRedirectUri</key>
	<string>radiopremium://callback</string>
	<key>RadioBrowserBaseUrl</key>
	<string>https://de1.api.radio-browser.info/json</string>
</dict>
</plist>
